.code {
  padding: var(--spaceXL);
  margin: var(--space3XL) calc(var(--spaceL) * -1);
  background: var(--background);
  clip-path: polygon(0 0, calc(100% - 28px) 0, 100% 28px, 100% 100%, 0 100%);
  color: var(--colorTextBody);
  overflow-x: auto;

  @media (--mediaMobile) {
    & {
      padding: var(--spaceL);
      margin: var(--space2XL) calc(var(--spaceXL) * -1);
    }
  }
}

/* Netrunner theme by Luca Cadei */
.code--dark {
  --char: #d8dee9;
  --comment: #b2b2b2;
  --keyword: #c592ff;
  --primitive: rgba(0 229 255 / 1);
  --string: #00ff9c;
  --variable: #d7deea;
  --boolean: #ff8b50;
  --punctuation: #88c6be;
  --tag: #ff4081;
  --function: rgba(0 229 255 / 1);
  --className: #fcee0a;
  --method: rgba(0 229 255 / 1);
  --operator: #ff4081;
  --background: rgb(29 29 35);
}

/* Legible light theme by Luca Cadei */
.code--light {
  --char: rgba(0 0 0 / 0.8);
  --comment: rgba(0 0 0 / 0.6);
  --keyword: #803cce;
  --primitive: rgba(0 0 0 / 0.8);
  --string: #1b8058;
  --variable: rgba(0 0 0 / 0.8);
  --boolean: #c1480a;
  --punctuation: rgba(0 0 0 / 0.4);
  --tag: #a8093f;
  --function: rgb(4, 98, 108);
  --className: #00378c;
  --method: rgb(4, 98, 108);
  --operator: #a8093f;
  --background: rgb(228 228 228);
}

.code__content {
  margin: 0;

  & code,
  & pre,
  & pre.prism-code {
    height: auto;
    font-size: var(--fontSizeBodyS);
    line-height: var(--lineHeightBody);
    white-space: pre;
    font-family: var(--monoFontStack);
  }

  & .token.attr-name {
    color: var(--keyword);
  }

  & .token.comment,
  & .token.block-comment,
  & .token.prolog,
  & .token.doctype,
  & .token.cdata {
    color: var(--comment);
  }

  & .token.property,
  & .token.number,
  & .token.function-name,
  & .token.constant,
  & .token.symbol,
  & .token.deleted {
    color: var(--primitive);
  }

  & .token.boolean {
    color: var(--boolean);
  }

  & .token.tag {
    color: var(--tag);
  }

  & .token.string {
    color: var(--string);
  }

  & .token.punctuation {
    color: var(--punctuation);
  }

  & .token.selector,
  & .token.char,
  & .token.builtin,
  & .token.inserted {
    color: var(--char);
  }

  & .token.function {
    color: var(--function);
  }

  & .token.operator,
  & .token.entity,
  & .token.url,
  & .token.variable {
    color: var(--variable);
  }

  & .token.attr-value {
    color: var(--string);
  }

  & .token.keyword {
    color: var(--keyword);
  }

  & .token.atrule,
  & .token.class-name {
    color: var(--className);
  }

  & .token.important {
    font-weight: var(--fontWeightRegular);
  }

  & .token.bold {
    font-weight: var(--fontWeightBold);
  }

  & .token.italic {
    font-style: italic;
  }

  & .token.entity {
    cursor: help;
  }

  & .namespace {
    opacity: 0.7;
  }
}
